<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.blurcast.tracer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.bluetooth" />
    <uses-feature android:name="android.hardware.bluetooth_le" />
    <uses-feature android:name="android.hardware.camera.front" />
    <!-- <uses-feature android:name="android.hardware.consumerir" /> -->
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.nfc" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.barometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />
    <uses-feature android:name="android.hardware.sensor.light" />
    <uses-feature android:name="android.hardware.sensor.proximity" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-feature android:name="android.hardware.telephony" />
    <uses-feature android:name="android.hardware.telephony.cdma" />
    <uses-feature android:name="android.hardware.telephony.gsm" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:hardwareAccelerated="false" -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >


        <!-- <receiver android:name=".service.Start_Service_onBoot_Receiver" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" > -->
        <!-- </action> -->


        <!-- <category android:name="android.intent.category.HOME" > -->
        <!-- </category> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver android:name=".activity.ServiceControlActivity" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="net.blurcast.tracer.service.BROADCASTS" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <activity android:name=".location_provider.map.MapProviderActivity" > -->
        <!-- </activity> -->
        <!-- <activity android:name=".activity.ServiceControlActivity" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="net.blurcast.tracer.service.BROADCASTS" /> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".activity.SelectLocationProviderActivity" -->
        <!-- android:label="@string/title_activity_select_location_provider" > -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".MapProviderActivity" -->
        <!-- android:label="@string/title_activity_map_provider" > -->
        <!-- </activity> -->
        <activity
            android:name=".app.Activity_Main"
            android:label="Geotracer"
            android:icon="@drawable/earth"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".interfaces.Env_Interface$EnvironmentDetails"
            android:label="Environment Details" >
        </activity>

        <activity
            android:name=".interfaces.Btle_Interface$BtleDetails"
            android:label="Bluetooth Low Energy Details" >
        </activity>


        <activity
            android:name=".app.Alert_EnableGps"
            android:label="@string/title_activity_alert__enable_gps" >
        </activity>


        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="false"
            android:process=":logger">
            <intent-filter>
                <action android:name="net.blurcast.tracer.service.MainService" />
            </intent-filter>
        </service>

    </application>

</manifest>